.header {
  position: fixed;
  width: 100%;
  z-index: 20;

  &__top {
    background: white;
    height: 5vh;
    display: flex;
    @media(max-width: $break-sm) {
      display: none;
      flex-direction: column;
      gap: .5rem;
      align-items: flex-end;
    }
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      padding: .25rem 0;
      @media(max-width: $break-sm) {
        flex-direction: column;
        gap: .5rem;
        align-items: flex-end;
      }
    }
  }

  &__icon {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__bottom {
    height: 10vh;
    color: white;
    background: $blue;
    padding: 1rem 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 20;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;


    @media (max-width: $break-lg) {
      position: fixed;
      width: 100vw;
      z-index: 10;
      background: $blue;
      left: 0;
      top: 0;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      padding: 12rem 0;
      justify-content: space-between;
      transform: translateY(-100%);
    }
  }

  &__link {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    gap: .5rem;
    z-index: 20;

    @media (max-width: $break-lg) {
      display: flex;
    }

    .line {
      width: 2rem;
      color: white;
      border-top: 2px solid;
      background: white;
    }
  }
}
