.hero {
  padding-top: 15vh;
  height: 100vh;
  height: 100svh;
  position: relative;
  background: url("/hero-bg.svg") no-repeat center;
  background-size: cover;

  @media(max-width: $break-sm) {
    padding-top: 10vh;
  }

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
  }

  .slogan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    @media (max-width: $break-md) {
      max-width: 500px;
    }

    .title {
      font-size: 3rem;
      font-weight: bold;
      color: $blue;
      overflow: hidden;
    }

    .subtitle {
      font-weight: bold;
      overflow: hidden;
    }

    .desc {
      overflow: hidden;
    }

    .button {
      overflow: hidden;
    }
  }

  .board {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
    overflow: hidden;

    .img {
      height: 30%;
    }

    @media (max-width: $break-md) {
      display: none;
    }
  }

  svg path {
    animation: pathAnim 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  svg path:nth-child(2) {
    animation-delay: 1s
  }

  svg path:nth-child(3) {
    animation-delay: 3s
  }

  svg path:nth-child(4) {
    animation-delay: 4s
  }
}

@keyframes pathAnim {
  0% {
    d: path("M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500");
  }
  25% {
    d: path("M0,100	C220,100,440,292,660,292 C880,292,1100,100,1320,100	L1320 500 L0 500");
  }
  50% {
    d: path("M0,192	C220,290,440,290,660,192 C880,100,1100,100,1320,192	L1320 500 L0 500");
  }
  75% {
    d: path("M0,292	C220,292,440,100,660,100 C880,100,1100,292,1320,292	L1320 500 L0 500");
  }
  100% {
    d: path("M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500");
  }
}
