@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

//variables
$blue: #245CE7;
$green: #24E74E;
$yellow: #E7AF24;
$pink: #E724BD;
$black: #202020;

$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;

$transition: .3s;

@import "components/Header/header";
@import "components/Hero/hero";
@import "components/Button/button";
@import "components/About/about";
@import "components/SectionTitle/section-title";
@import "components/Card/card";
@import "components/Footer/footer";
@import "components/Modal/modal";
@import "components/Camp/camp";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;

  @media (max-width: $break-sm) {
    font-size: 14px;
    scroll-behavior: unset;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: $black
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  width: calc(min(1320px, 90%));
  margin-inline: auto;
  overflow-x: hidden;
}

.section {
  padding: 2rem 0;
}


//scrollbar
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
  position: absolute;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $blue;
}

ul {
  list-style: none
}

