@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

//variables
$blue: #245CE7;
$green: #24E74E;
$yellow: #E7AF24;

$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;

@import "components/Header/header";
@import "components/Hero/hero";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  width: calc(min(1320px, 90%));
  margin-inline: auto;
  overflow-x: hidden;
}


//hero wave
.hero {

}
